html {
  height: 100%;
  scroll-behavior: smooth;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-dark: #403F3D;
  --text-accent: #B0907A;
  --text-light: #E1D4C9;
  --background-body: #E1D4C9;
  --background-container: #665F55;
  --border-dark: #665F55;
  --border-light: #C1B6AD; 
}

body {
  width: 100%;
  height: 100%;
  background-color: var(--background-body);
  font-family: 'Inter', sans-serif;
  font-style: normal;
}

.wrapper {
  width: 1440px;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
}

.main {
  flex-grow: 1;
}

.header_container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  padding: 0 40px;
}

.nav_menu {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 40px;
  list-style-type: none;
  margin-bottom: 6px;  
}

.nav_menu_item-link {
  position: relative;
  text-decoration: none;
  color: var(--text-dark);
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}

.nav_menu_item-link::after, .nav_coffee-menu::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -4px;
  left: 50%;
  transform: translate(-50%, 0%);
  background-color: var(--text-dark);
  opacity: 0;
}

.nav_coffee-menu {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 6px;
}

.nav_coffee-menu a {
  text-decoration: none;
  color: var(--text-dark);
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}

.nav_coffee-menu img {
  margin-left: 8px;
}

.enjoy_container {
  display: flex;
  flex-flow: column nowrap;
  gap: 40px;
  max-width: 1360px;
  margin: 0 40px;
  padding: 100px;
  background: url("../images/enjoy_background.svg") center center / cover no-repeat;
  border-radius: 40px;
  border: none;
}

.enjoy_heading {
  max-width: 530px;
  color: var(--text-light);
  font-size: 72px;
  font-weight: 600;
  line-height: 105%;
}

.enjoy_heading span {
  color: var(--text-accent);
  font-style: italic;
}

.enjoy_text {
  max-width: 530px;
  color: var(--text-light);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.enjoy_menu-button {
  height: 64px;
  width: 200px;
  padding: 20px 78px;
  border: none;
  border-radius: 100px;
  background: var(--background-body);
  color: var(--text-dark);
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}

.favourite-coffee {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 100px 40px 0 40px;
}

h2 { /* Sections Favourite-coffee, About, Mobile app */
  color: var(--text-dark);
  text-align: left;
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
}

h2 > span {
  color: var(--text-accent);
  font-style: italic;
}

.favourite_carousel {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 40px;
}

.carousel_slide {
  display: flex;
  flex-flow: column nowrap;
  width: 480px;
}

.carousel_slide h3 {
  margin-top: 20px;
  color: var(--text-dark);
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
}

.carousel_slide p {
  margin-top: 16px;
  color: var(--text-dark);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.carousel_slide_price {
  margin-top: 16px;
  color: var(--text-dark);
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
}

.carousel_pagination {
  display: flex;
  flex-flow: row nowrap;
  gap: 12px;
  margin-top: 40px;
}

.carousel_pagination_control {
  width: 40px;
  height: 4px;
  border: none;
  border-radius: 100px;
  background-color: var(--border-light);
}

.carousel_pagination_control.active {
  background-color: var(--border-dark);
}

.about {
  display: flex;
  flex-flow: column nowrap;
  margin: 100px 40px 0 40px;
}

.about_gallery {
  display: flex;
  flex-flow: row wrap;
  gap: 40px;
  margin-top: 40px;
}

.about_gallery_column {
  display: flex;
  flex-flow: column nowrap;
  gap: 40px;
  width: 660px;
}

.about_gallery_photo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  border: none;
  border-radius: 20px;  
}

.about_gallery_photo.photo_1,
.about_gallery_photo.photo_4 {
  height: 590px; 
}

.about_gallery_photo.photo_2,
.about_gallery_photo.photo_3 {
  height: 430px; 
}

.about_gallery_photo img {
  width: 726px;
  height: 726px;
}

.mobile-app {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 100px 40px 0 40px;
}

.mobile-app img {
  width: 630px;
  height: 630px;
}

.mobile-app_offer {
  display: flex;
  flex-flow: column nowrap;
  gap: 40px;
  align-items: flex-start;
  width: 630px;
  text-align: left;
}

.mobile-app_offer p {
  color: var(--text-dark);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.buy-app_buttons {
  display: flex;
  flex-flow: row nowrap;
  gap: 20px;
}

.appstore-button img,
.googleplay-button img {
  width: 200px;
  height: 64px;
}

.footer_container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 100px;
  margin: 100px 40px 40px 40px;
  padding: 100px;
  background-color: var(--background-container);
  border: none;
  border-radius: 40px;
}

.social-media {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  gap: 40px;
  width: 530px;
  justify-content: space-between;
}

h2.footer_slogan {
  color: var(--text-light);
}

.social-media ul {
  display: flex;
  flex-flow: row nowrap;
  gap: 12px;
  list-style-type: none;

}

.contacts {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  flex-grow: 1;
  list-style-type: none;
}

.contacts li {
  margin-top: 16px;
}

.contacts_title {
  color: var(--text-light);
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  margin-bottom: 24px;
}

.contact_link {
  color: var(--text-light);
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  text-decoration-line: none;
}

.contact_link img {
  padding-right: 8px;
}