html {
  height: 100%;
  scroll-behavior: smooth;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-dark: #403F3D;
  --text-accent: #B0907A;
  --text-light: #E1D4C9;
  --background-body: #E1D4C9;
  --background-container: #665F55;
  --background-backdrop: rgba(64, 63, 61, 0.80);
  --border-dark: #665F55;
  --border-light: #C1B6AD; 
}

@font-face {
  font-family: Inter_SemiBold_Italic;
  src: url(../fonts/Inter-SemiBoldItalic.otf);
  font-weight: 600;
}

@font-face {
  font-family: Inter_Inter-Regular;
  src: url(../fonts/Inter-Regular.otf);
  font-weight: 400;
}

body {
  width: 100%;
  height: 100%;
  background-color: var(--background-body);
  font-family: 'Inter', sans-serif;
  font-style: normal;
}

body.show_menu {
  overflow: hidden;
}

.wrapper {
  max-width: 1440px;
  min-height: 100%;
  margin: 0 auto;
  padding: 20px 40px 40px 40px;
  display: flex;
  flex-flow: column nowrap;
}

@media screen and (max-width: 730px) { 
  .wrapper {
    padding: 20px 16px 40px 16px;
  }
}

/* ---------- Header ---------- */

.header_container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 16px;
}

.header_navigation-block {
  display: flex;
  width: calc(50% + 214px);
  height: auto;
}

.nav-block_wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
}

.nav_list {
  display: flex;
  flex-flow: row nowrap;
  gap: 40px;
  list-style-type: none;
}

.nav_list-item_link {
  position: relative;
  text-decoration: none;
  color: var(--text-dark);
  font-size: 16px;
  font-weight: 600;
}

.nav_list-item_link::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -6px;
  background-color: var(--text-dark);
  left: 0%; 
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.nav_menu-link.home_page {
  display: flex;
  align-items: flex-end;
  position: relative;
  text-decoration: none;
  color: var(--text-dark);
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
  margin-bottom: 12px;
}

.nav_menu-link.home_page::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -8px;
  background-color: var(--text-dark);
  left: 0%; 
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

/* Header menu item on the main page is non-interactive */
.nav_menu-link.menu_page {
  display: flex;
  align-items: flex-end;
  position: relative;
  color: var(--text-dark);
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
  margin-bottom: 12px;
}

.nav_menu-link.menu_page::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -8px;
  background-color: var(--text-dark);
  left: 0%; 
}

.nav_menu-link img {
  margin-left: 8px;
}

.burger-menu_button {
  display: none;
  position: relative;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 100px;
  border: 1px solid var(--border-dark);
  margin-bottom: 4px;
}

.burger-menu_button span {
  position: absolute;
  width: 18px;
  height: 1px;
  border: none;
  border-radius: 1.5px;
  background-color: var(--text-dark); 
  transition: transform 0.2s;
}

.burger-menu_button span:nth-child(1) {
  transform: translateY(-4px);
}

.burger-menu_button span:nth-child(2) {
  transform: translateY(4px);
}

.burger-menu_button.show_menu span:nth-child(1) {
  transform: translateY(0) rotate(-45deg);
}

.burger-menu_button.show_menu span:nth-child(2) {
  transform: translateY(0) rotate(45deg);
}

/*.header_navigation-block {
  display: flex;
  width: calc(50% + 214px);
  height: auto;
}

.nav-block_wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
}*/

@media screen and (max-width: 768px) {
  .header_navigation-block {
    display: flex;
    justify-content: flex-start;
    flex: 1 0 0;
    width: 100%;
    height: 100%;
    padding: 60px 40px;
    position: fixed;
    right: -100%;
    top: 100px;
    z-index: 10;
    background-color: var(--background-body);
    visibility: hidden;
    transition: all 0.4s;
  }
  .header_navigation-block.show_menu {
    transform: translateX(-100%);
    visibility: visible;
  }
  .nav-block_wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    flex: 1 0 0;
    gap: 100px;
    width: 100%;
    height: calc(100% - 80px);
    overflow-y: auto;
  }
  .nav-block_wrapper nav {
    align-self: stretch;
  }
  .nav_list {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 60px;
  }
  .nav_list-item_link {
    font-size: 32px;
    font-weight: 600;
    line-height: 125%;
    text-align: center;
  }
  .nav_menu-link.home_page,
  .nav_menu-link.menu_page {
    font-size: 32px;
    font-weight: 600;
    line-height: 125%;
    margin-bottom: 0;
  }  
  .nav_menu-link img {
    margin-left: 16px;
    width: 40px;
    height: 40px;
  }
  .burger-menu_button {
    display: flex;
    cursor: pointer;
  }
}

@media screen and (max-width: 380px) {
  .header_navigation-block {
    padding: 60px 16px;
  }
}

/* ---------- Enjoy section ---------- */

.main {
  flex-grow: 1;
}

.enjoy_container {
  position: relative;
  width: 100%;
  height: auto;
  border-radius: 40px;
  overflow: hidden;
}

.enjoy_container video {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.enjoy_text {
  display: flex;
  flex-flow: column nowrap;
  gap: 40px;
  max-width: 530px;
  margin: 100px auto 100px 100px;
}

.enjoy_text h1 {
  color: var(--text-light);
  font-size: 72px;
  font-weight: 600;
  line-height: 105%;
  text-align: left;
}

.enjoy_text h1 span {
  color: var(--text-accent);
  font-family: Inter_SemiBold_Italic;
}

.enjoy_text p {
  color: var(--text-light);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  text-align: left;
}

.enjoy_button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background: var(--background-body);
  width: 200px;
  padding: 20px 0;
  border-radius: 100px;
  text-align: center;
}

.enjoy_button-text {
  position: relative;
  transition: transform 0.5s ease-in-out;
  color: var(--text-dark);  
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}

.enjoy_button-text::after {
  content: url(../images/coffee-cup-icon.svg);
  position: absolute;
  top: 0px;
  right: -28px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

@media screen and (max-width: 940px) {
  .enjoy_text {
    margin: 100px 60px;
  } 
}

@media screen and (max-width: 730px) {
  .enjoy_text {
    margin: 60px 16px;
  }
  .enjoy_text h1 {
    font-size: 42px;
    line-height: 115%;
  }
}

/* ---------- Favourite Coffee section ---------- */

.favourite-coffee {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: 100px;
}

h2 { /* Sections Favourite-coffee, About, Mobile app */
  color: var(--text-dark);
  text-align: left;
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
}

.favourite-coffee h2 {
  text-align: center;
}

h2 > span {
  color: var(--text-accent);
  font-family: Inter_SemiBold_Italic;
}

@media screen and (max-width: 730px) {
  h2 {
    font-size: 32px;
  }
}

.favourite_carousel {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 40px;
}

.carousel_arrow svg{
  width: 60px;
  height: 60px;
  margin: 4px;
  padding: 18px;
  border: 1px solid var(--border-dark);
  border-radius: 100px;
  transition: background-color 0.4s ease-in-out;
}

.carousel_arrow svg path{
  transition: stroke 0.4s ease-in-out;
}

.carousel_slide {
  display: flex;
  flex-flow: column nowrap;
  width: 480px;
}

.carousel_slide h3 {
  margin-top: 20px;
  color: var(--text-dark);
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
}

.carousel_slide p {
  margin-top: 16px;
  color: var(--text-dark);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.carousel_slide span {
  margin-top: 16px;
  color: var(--text-dark);
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
}

.carousel_pagination {
  display: flex;
  flex-flow: row nowrap;
  gap: 12px;
  margin-top: 40px;
}

.carousel_pagination_control {
  width: 40px;
  height: 4px;
  border: none;
  border-radius: 100px;
  background-color: var(--border-light);
}

.carousel_pagination_control.active {
  background-color: var(--border-dark);
}

@media screen and (max-width: 768px) {
  .carousel_arrow svg{
    margin: 0;
  }
}

@media screen and (max-width: 730px) {
  .favourite_carousel {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
  }
  .carousel_arrow {
    display: none;
  }
}

@media screen and (max-width: 506px) {
  .carousel_slide {
    max-width: 100%;
  }
}

/* ---------- About section ---------- */

.about {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: 100px;
}

.about_gallery {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
  width: 100%;
}

.about_gallery_column {
  display: flex;
  flex-flow: column nowrap;
  gap: 40px;
  max-width: calc((100% - 40px) * 0.5);
  overflow: hidden;
}

.about_gallery_photo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  border: none;
  border-radius: 20px;  
}

.about_gallery_photo.photo_1,
.about_gallery_photo.photo_4 {
  height: 590px; 
}

.about_gallery_photo.photo_2,
.about_gallery_photo.photo_3 {
  height: 430px; 
}

.about_gallery_photo img {
  width: 726px;
  height: 726px;
  transition: width 0.3s ease-out, 
    height 0.3s ease-out;
}

@media screen and (max-width: 768px) {
  .about_gallery {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
  }
  .about_gallery_column {
    max-width: 100%;
  }
  .about_gallery_photo.photo_2,
  .about_gallery_photo.photo_3 {
    display: none;
  }
  /*.about_gallery_photo:hover > img {
    width: 688px;
    height: 688px;
  }*/
}

/* ---------- Mobile App section ---------- */

.mobile-app {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  width: 100%;
}

.mobile-app_image {
  max-width: 630px;
  max-height: 630px;
}

.mobile-app_image img {
  width: 100%;
  height: auto;
}

.mobile-app_offer {
  display: flex;
  flex-flow: column nowrap;
  gap: 40px;
  align-items: flex-start;
  flex-shrink: 0;
  max-width: 630px;
  text-align: left;
}

.mobile-app_offer p {
  color: var(--text-dark);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.buy-app_buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.buy-app_link {
  text-decoration: none;
  width: 200px;
  height: 64px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  padding: 12px 20px;
  border-radius: 100px;
  border: 1px solid var(--border-dark);
  transition: background-color 0.4s ease-in-out;
}

.buy-app_link svg path{
  transition: fill 0.4s ease-in-out;
}

.buy-app_link_text {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  color: var(--text-dark);
  font-weight: 600;
  transition: color 0.4s ease-in-out;
}

.buy-app_link_text span:first-child {
  font-size: 10px;
  line-height: 140%;
}

.buy-app_link_text span:nth-child(2) {
  font-size: 16px;
  line-height: 150%;
}

@media screen and (max-width: 1100px) {
  .mobile-app {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 100px;
  }
  .mobile-app_offer {
    max-width: 100%;
  }
  .mobile-app_image {
    max-width: 630px;
    max-height: 630px;
  }
}

@media screen and (max-width: 730px) {
  .mobile-app {
    gap: 40px;
  }
  .buy-app_buttons {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
  }
}

/* ---------- Footer ---------- */

.footer_container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 100px;
  margin-top: 100px;
  padding: 100px;
  background-color: var(--background-container);
  border: none;
  border-radius: 40px;
}

.footer_social-media {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  gap: 40px;
  max-width: 530px;
}

.footer_social-media h2 {
  color: var(--text-light);
}

.footer_social-media ul {
  display: flex;
  flex-flow: row nowrap;
  gap: 12px;
  list-style-type: none;
}

.footer_social-media_link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  padding: 18px;
  border-radius: 100px;
  border: 1px solid var(--border-light);
  transition: background-color 0.4s ease-in-out;
}

.footer_social-media_link svg path{
  transition: stroke 0.4s ease-in-out;
}

.footer_contacts {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  max-width: 530px;
}

.footer_contacts h3 {
  color: var(--text-light);
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  padding-bottom: 40px;
}

.footer_contacts ul {
  list-style-type: none;
  display: flex;
  flex-flow: column nowrap;
  gap: 16px;
}

.footer_contacts ul li {
  display: flex;
  flex-flow: row nowrap;
  align-self: flex-start;
  flex-shrink: 0;
  padding-bottom: 2px;
}

.footer_contact_item {
  position: relative;
  color: var(--text-light);
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}

a.footer_contact_item {
  text-decoration-line: none;
}

a.footer_contact_item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -3px;
  background-color: var(--text-light);
  left: 0%; 
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.footer_contact_item img {
  padding-right: 8px;
}

@media screen and (max-width: 1190px) {
  .footer_container {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    gap: 100px;
  }
}

@media screen and (max-width: 780px) {
  .footer_container {
    padding: 100px 60px;
  }
}

@media screen and (max-width: 730px) { 
  .footer_container {
    padding: 60px 16px;
    flex-flow: column nowrap;
    align-items: flex-start;
    gap: 40px;
  }
}

/* ---------- Menu page ---------- */

.menu_container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 40px;
  width: 100%;
}

.menu_container h1 {
  color: var(--text-dark);
  text-align: center;
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
  max-width: 800px;
}

.menu_container h1 span {
  color: var(--text-accent);
  font-family: Inter_SemiBold_Italic;
}

.menu_buttons {
  display: flex;
  flex-flow: row nowrap;
  gap: 16px;
}

.menu_button_item {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 8px;
  height: 46px;
  padding: 8px 16px 8px 8px;
  border-radius: 100px;
  border: 1px solid var(--border-light);
  background-color: transparent;
  transition: background-color 0.4s ease-in-out,
    border-color 0.4s ease-in-out;
}

.menu_button_item span {
  color: var(--text-dark, #403F3D);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  transition: color 0.4s ease-in-out;
}

.menu_button_item img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 3px 7px;
  background-color: var(--border-light);
  border-radius: 100px;
  transition: background-color 0.4s ease-in-out;
}

/* Active (chosen) button */
.menu_button_item.active {
  cursor: text;
  background-color: var(--background-container);
  border-color: var(--background-container);
}

.menu_button_item.active span {
  color: var(--text-light);
}

.menu_button_item.active img {
  background-color: var(--background-body);
}

.menu-items_container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 40px 40px;
  width: 100%;
}

.menu_single-item_container {
  display: flex;
  flex-flow: column nowrap;
  flex-shrink: 0;
  width: 310px;
  height: 506px;
  border-radius: 40px;
  border: 1px solid var(--border-light);
}

.menu_single-item_photo-frame {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 100%;
  height: 308px;
  flex-shrink: 0;
  border-radius: 40px;
  overflow: hidden;
}

.menu_single-item_photo-frame img {
  width: 340px;
  height: 340px;
  transition: width 0.3s ease-out, 
    height 0.3s ease-out;
}

.menu_single-item_text {
  display: flex;
  flex-flow: column nowrap;
  align-self: flex-start;
  justify-content: space-between;
  padding: 20px;
  color: var(--text-dark);
  text-align: left;
  height: 100%;
}

.menu_single-item_text h4 {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  margin-bottom: 12px;
}

.menu_single-item_text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.menu_single-item_text span {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  margin-top: auto;
}

.menu_preloader-button {
  display: none;
  width: 60px;
  height: 60px;
  padding: 18px;
  border: 1px solid var(--border-dark);
  border-radius: 100px;
  transition: background-color 0.4s ease-in-out;
}

.menu_preloader-button svg path{
  transition: stroke 0.4s ease-in-out;
}

@media screen and (max-width: 768px) {
  .menu_single-item_container.item5,
  .menu_single-item_container.item6,
  .menu_single-item_container.item7,
  .menu_single-item_container.item8 {
    display: none;
  }
  .menu_preloader-button {
    display: inline-block;
  }
}

@media screen and (max-width: 730px) {
  .menu_container h1 {
    font-size: 32px;
    line-height: 125%;
  }
}

@media screen and (max-width: 380px) {
  .menu_buttons {
    gap: 8px;
  }
}

/* ---------- Hover effects ---------- */

@media (hover: hover) and (pointer: fine) {
  .nav_list-item_link:hover::after {
    opacity: 1;
  }
  .nav_menu-link.home_page:hover::after {
    opacity: 1;
  }
  .enjoy_button:hover > .enjoy_button-text {
    transform: translateX(-14px);
  }
  .enjoy_button:hover > .enjoy_button-text::after {
    opacity: 1;
  }
  .carousel_arrow:hover {
    cursor: pointer;
  }
  .carousel_arrow:hover > svg {
    background-color: var(--background-container);
  }  
  .carousel_arrow:hover > svg > path{
    stroke: var(--text-light);
  }
  .about_gallery_photo:hover > img {
    width: 660px;
    height: 660px;
  }
  @media screen and (max-width: 768px) {
    .about_gallery_photo:hover > img {
      width: 688px;
      height: 688px;
    }
  }
  .buy-app_link:hover {
    background-color: var(--background-container);
  }  
  .buy-app_link:hover > .buy-app_link_text {
    color: var(--text-light);
  }  
  .buy-app_link:hover > svg > path {
    fill: var(--text-light);
  }
  .footer_social-media_link:hover {
    background-color: var(--background-body);
  }
  .footer_social-media_link:hover > svg > path {
    stroke: var(--text-dark);
  }
  a.footer_contact_item:hover::after {
    opacity: 1;
  }
  .menu_button_item:hover {
    cursor: pointer;
    background-color: var(--background-container);
    border-color: var(--background-container);
  }  
  .menu_button_item:hover span {
    color: var(--text-light);
  }  
  .menu_button_item:hover img{
    background-color: var(--background-body);
  }
  .menu_button_item.active:hover {
    cursor: text;
    background-color: var(--background-container);
    border-color: var(--background-container);
  }
  .menu_button_item.active:hover span {
    color: var(--text-light);
  }
  .menu_button_item.active:hover img {
    background-color: var(--background-body);
  }
  .menu_single-item_container:hover > .menu_single-item_photo-frame > img {
    width: 310px;
    height: 310px;
  }
  .menu_preloader-button:hover {
    cursor: pointer;
  }  
  .menu_preloader-button:hover {
    background-color: var(--background-container);
  }  
  .menu_preloader-button:hover > svg > path{
    stroke: var(--text-light);
  }
}

@media (hover: none) or (pointer: coarse) or (pointer: none) {
  /* Menu button in the Enjoy section on touchscreen devices */
  .enjoy_button-text {
    transform: translateX(-14px);
  }
  .enjoy_button-text::after {
    opacity: 1;
  }
}